.layout-header {
  background-color: #2646;
  font-size: 30px;
  text-align: center;
  padding: 30px;
}

.layout-footer {
  background-color: #2646;
  font-size: 30px;
  text-align: center;
  padding: 30px;
}